body {
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0 
}
h1 {
    font-size: 24px 
}
h2 {
    font-size: 22px 
}
h3 {
    font-size: 18px 
}
h4 {
    font-size: 21px;
    color: #07528d;
    margin-top: 25px;
}
h5 {
    font-size: 14px 
}
h6 {
    font-size: 13px 
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1 
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    opacity: .8 
}
a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}
a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
ul, li, ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
button:focus{
    outline: none;
}
.form-control::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}


.home-slider{
    position: relative;
    height: 540px;
}
.lbox-caption {
    display: table;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
}
.lbox-caption {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
}
.lbox-details {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 100%;
    padding: 22% 0%;
}
.lbox-details::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.lbox-details h1{
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    z-index: 3;
}
.lbox-details h2{
    font-size: 48px;
    color: #ffffff;
    font-weight: 300;
    position: relative;
    z-index: 3;
}
.lbox-details p{
    color: #ffffff;
    position: relative;
    z-index: 3;
}
.lbox-details p strong{
    color: #70c6eb;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.lbox-details a.btn{
    background: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: capitalize;
    color: #3a4149;
    border-radius: 0px;
    position: relative;
    z-index: 3;
}
.lbox-details a.btn:hover{
    background: #70c6eb;
}
.pogoSlider-nav-btn {
    background: #000;
}
.pogoSlider-nav-btn--selected {
    background: #0892fd !important;
}
.pogoSlider--navBottom .pogoSlider-nav {
    bottom: 20px;
}
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn {
    display: none;
}
.img-responsive {
    max-width: 100%;
}
.slide_text h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.slide_text h4 {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.slide_text p {
    color: #0892fd;
    line-height: 21px;
    font-size: 18px;
    font-weight: 200;
}

.button{
    background:floralwhite;
    width: 145px;
     height: 50px;
     font-size:15px;
     text-align: center;
     font-weight: 500;
     margin-top: 30px;
     font-family:sans-serif;
     font-style: italic;
}
.slide_text {
   margin-top: 21%;
}




.top-header .navbar{
    padding: 5px 0px;
}
.top-header {
    background-image: url("../images/header_img.png");
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    z-index: 20;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #0892fd;
    background-size: auto 100%;
}
.top-header .navbar .navbar-collapse ul li a {
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 20px;
    position: relative;
    font-weight: 400;
    overflow: hidden;
    color: #000;
}
a.navbar-brand {
    left: 35px;
    position: relative;
}
/* .top-header .navbar .navbar-collapse ul li a.active {
} */
.top-header .navbar .navbar-collapse ul li a:hover, .top-header .navbar .navbar-collapse ul li a:focus {
    background: transparent;
    color: #fff;
    border-radius:0px ;
}
.search_icon.nav-link img {
    width: 25px;
}
.top-header .navbar .navbar-collapse ul li {
    margin: 0 2px;
}
.top-header.fixed-menu {
    width: 100%;
    position: fixed;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    background: #fff;
    z-index: 20;
}
.navbar-toggler {
    border: 2px solid #0892fd;
    border-radius: 0;
    margin: 15px 15px;
    padding: 8px 8px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.navbar-toggler span {
    background: #0892fd;
    display: block;
    width: 22px;
    height: 2px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.navbar-toggler span + span{
    margin-top: 5px;
}
.navbar-toggler:hover {
    border: 2px solid #0892fd;
}
.navbar-toggler:hover span{
    background: #0892fd;
}

/*------------------------------------------------------------------ Banner -------------------------------------------------------------------*/
.home-slider{
    position: relative;
    height: 540px;
}

.img-responsive {
    max-width: 100%;
}
.slide_text h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.slide_text h4 {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.slide_text p {
    color: #0892fd;
    line-height: 21px;
    font-size: 18px;
    font-weight: 200;
}
.contact_bt {
    width: 145px;
    height: 50px;
    background: #07528d;
    color: #fff;
    float: left;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
}
.slide_text {
   margin-top: 21%;
}

.theme_color{
    color: #0892fd;
}

.subscribe-box {
     padding: 70px 0px;
     background: #e91327;
}
 .subscribe-inner{
     max-width: 500px;
     width: 100%;
     margin: 0 auto;
}
 .subscribe-inner h2 {
     font-size: 80px;
     font-weight: 600;
     color: #ffffff;
     font-family: 'Great Vibes', cursive;
     padding: 0;
}
 .subscribe-inner p{
     color: #cccccc;
}
 .subscribe-inner .form-group .form-control-1{
     width: 100%;
     padding: 12px 15px;
     border-radius: 0px;
     border: none;
}
 .subscribe-inner .form-group button {
     border-radius: 0;
     transition: .2s;
     padding: 10px 18px;
     background: #222;
     color: #ffffff;
     border: none;
     cursor: pointer;
     font-weight: 300;
     letter-spacing: 0.1px;
     border-radius: 0 15px 0 15px;
}
 .about-main-info h2 img {
     margin-top: -10px;
}
 p {
     margin-top: 5px;
     margin-bottom: 1rem;
     font-size: 16px;
     font-weight: 300;
     line-height: normal;
}
 .text_align_center {
     text-align: center;
}
 .red_bg {
     background: #e91327;
}
 .white_fonts p, .white_fonts h1, .white_fonts h2, .white_fonts h3, .white_fonts h4, .white_fonts h5, .white_fonts h6, .white_fonts ul, .white_fonts ul li, .white_fonts ul li a, .white_fonts ul i, .white_fonts .post_info i, .white_fonts div, .white_fonts a.read_more {
     color: #fff !important;
}
 .red_bg .about-main-info a {
     background: #fff;
     color: #e91327;
}
 .testimonial_img {
     text-align: center;
     width: 100%;
     display: flex;
     justify-content: center;
}
 .mfp-figure figure .mfp-bottom-bar {
     display: none;
}
 #client_slider .carousel-indicators {
     bottom: -45px;
}
 #client_slider .carousel-indicators li {
     height: 15px;
     width: 15px;
     border-radius: 100%;
     background: #999;
}
 #client_slider .carousel-indicators li.active {
     background: #e91327;
}
 .layout_padding {
     padding: 75px 0;
}
 .heading_main h2 {
     font-size: 40px;
     letter-spacing: -0.5px;
     font-weight: 500;
     padding: 0;
     margin: 0;
     line-height: normal;
}
 .heading_main p.large {
     font-size: 20px;
     color: #605f5f;
     position: relative;
     padding: 0 185px;
}
 .heading_main p.large::after {
     content: "";
     display: block;
     width: 163px;
     height: 18px;
     background-image: url('../images/heading_border_left.png');
     position: absolute;
     background-position: center left;
     position: absolute;
     top: 5px;
     left: 0;
}
 .heading_main p.large::before {
     content: "";
     display: block;
     width: 163px;
     height: 18px;
     background-image: url('../images/heading_border_right.png');
     position: absolute;
     background-position: center right;
     position: absolute;
     top: 5px;
     right: 0;
}
 .center {
     display: flex;
     justify-content: center;
}
 .full {
     float: left;
     width: 100%;
}
 .heading_main {
     float: left;
}
 .theme_bg {
     background: #07528d;
}
 h3.small_heading {
     font-size: 35px;
     font-weight: 600;
     line-height: normal;
}
 .margin-top_30 {
     margin-top: 30px;
}
 .margin-bottom_30 {
     margin-bottom: 30px;
}
 .carousel a.carousel-control-prev {
     background: #2a6a9c;
     opacity: 1;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     top: 40%;
     left: 2%;
}
 .carousel a.carousel-control-next {
     background: #2a6a9c;
     opacity: 1;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     top: 40%;
     right: 2%;
}
 #demo {
     margin-bottom: 20px;
}
 ul.social_icon li a {
     width: 35px;
     height: 35px;
     background: #fff;
     float: left;
     border-radius: 100%;
}
 ul.social_icon li i {
     color: #000 !important;
     line-height:35px;
}
 ul.social_icon li {
     float: left;
     margin: 0 5px;
}
 .footer_bottom {
     background: #05223d;
     padding: 15px 0;
}
 .footer_bottom p.crp {
     float: left;
     margin: 0;
     color: #8d8d8c;
     font-size: 15px;
}
 ul.bottom_menu li a {
     color: #8d8d8c;
}
 ul.bottom_menu li {
     float: left;
     font-size: 14px;
     font-weight: 300;
     margin-left: 20px;
}
 .bottom_menu {
     float: right;
}
 .innerpage_banner {
     background-color: #f9f9f9;
     min-height: 150px;
     text-align: center;
     background-image: url("../images/slider-01.jpg");
     background-size: cover;
     background-position: center center;
}
 .innerpage_banner h2 {
     margin: 55px 0 0;
     padding: 0;
     font-size: 30px;
     text-align: left;
     font-weight: 500;
     position: relative;
}
 #demo .img-responsive {
     width: 100%;
}
 .top-header.fixed-menu .search-btn {
     background: #111;
}
 .top-header.fixed-menu .search-box:hover .search-txt {
     width: 240px;
     padding: 0 10px;
     border: solid #000 1px;
     height: 41px;
}
 .top-header.fixed-menu ul li:hover a, .top-header.fixed-menu ul li:focus a {
     color: #0892fd !important;
}

.btn{
    font-size: 20px;
    width: 175px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-weight: 200;
    font-family: sans-serif;
    font-style: italic;
}
